@import url("https://fonts.googleapis.com/css?family=Lemon:400|Inter:500,400,700,600");

:root {
    --primary-font: 'Inter', sans-serif;
    --primary-text-color: #333;
    --background-color: #fff;
    --link-color: #333;
    --button-background: transparent;
    --button-border: 1px solid #333;
    --button-border-radius: 1rem;
    --button-padding: 1rem 2rem;
    --button-box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    --background-image: url("assets/aboutus_pics.jpg");
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

.home-main {
    position: relative;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--text-color);
    text-align: center;
    padding: 3.125% 0;

    & background-image {
        width: 100%;
        height: auto;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5% 5% 0;
    box-sizing: border-box;

    & a {
        order: 2;
        text-decoration: none;
        color: var(--text-color);
    }

    & ul {
        order: 3;
        text-align: right;
        margin: 0;
        padding: 0;
        list-style: none;

        & li {
            display: inline;
            margin: 0 0.75rem;
            text-decoration: none;
            color: var(--text-color);
            font-weight: bold;
        }
    }

    & form {
        order: 1;
        display: flex;
        align-items: center;

        & i {
            margin-right: 2.5%;
        }

        & input[type="text"] {
            background-color: transparent;
            border: none;
            color: var(--text-color);
            padding: 0.625rem;
            font-size: 1.25rem;
        }
    }
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    color: var(--text-color);
}

main {
    padding: 1.25rem;
    background-color: var(--background-color);

    & .about-us {
        text-align: left;
        margin: 5% 23%;

        & p {
            margin: 1.25rem;
        }
    }

    & section {
        margin: 10vh 23%;
        text-align: left;
        background-color: #f0f0f0;
        padding: 1.25rem;
        border-radius: 1rem;
    
        & h2 {
            font-size: 1.5rem;
            margin-bottom: 0.625rem;
            margin-left: 1rem;
        }
    }

    & .values {
        & p {
            margin: 1.25rem;
        }
    }
}

hr {
    border: none;
    border-top: 1px solid #ddd;
}

footer {
    color: var(--text-color);
    padding: 1.25rem;
    text-align: left;
    margin-left: 10%;

    & .footer-columns {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        & .column {
            flex: 1;
            padding: 0 1.25rem;

            & .links {
                list-style: none;
                padding: 0;

                & li {
                    margin-bottom: 0.625rem;

                    & a {
                        text-decoration: none;
                        color: var(--link-color);
                    }
                }

                & .social a {
                    margin-right: 0.3125rem;
                    display: inline-block;
                }
            }
        }
    }
}

@media (max-width: 48rem) {
    .home-main {
        padding: 3.125% 0;
    }
    
    h1 {
        font-size: 1.75rem;
    }

    nav ul {
        display: none;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav form {
        margin-top: 0.625rem;
    }

    .fa-search {
        display: block;
    }
}

@media (max-width: 30rem) {
    .home-main {
        padding: 1.875% 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    button {
        padding: 0.625rem 1.25rem;
    }

    .links .social a {
        margin-right: 0.3125rem;
    }
}
