@import url("https://fonts.googleapis.com/css?family=Lemon:400|Inter:500,400,700,600");

:root {
    --primary-font: 'Inter', sans-serif;
    --primary-text-color: #333;
    --background-color: #fff;
    --link-color: #333;
    --button-background: transparent;
    --button-border: 1px solid #333;
    --button-border-radius: 1rem;
    --button-padding: 1rem 2rem;
    --background-image: url("assets/city_pics.jpg");
    --text-color: #fff;
    --input-background-color:#f6f6f6;
    --input-border-radius: 20px;
    --input-border: 1px solid grey;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

.home-main {
  position: relative;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--text-color);
  text-align: center;
  padding: 3.125% 0;

  & background-image {
      width: 100%;
      height: auto;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5% 5% 0;
  box-sizing: border-box;

  & a {
      order: 2;
      text-decoration: none;
      color: var(--text-color);
  }

  & ul {
      order: 3;
      text-align: right;
      margin: 0;
      padding: 0;
      list-style: none;

      & li {
          display: inline;
          margin: 0 0.75rem;
          text-decoration: none;
          color: var(--text-color);
          font-weight: bold;
      }
  }

  & form {
      order: 1;
      display: flex;
      align-items: center;

      & i {
          margin-right: 2.5%;
      }

      & input[type="text"] {
          background-color: transparent;
          border: none;
          color: var(--text-color);
          padding: 0.625rem;
          font-size: 1.25rem;
      }
  }
}

main {
  padding: 1.25rem;
  margin: 5% 18%;
   & .dubai {
     font-size: 2rem;
     display: inline-block;
     }
     & .dubaiP {
      color: #666;
      display: inline-block;    
      font-size: 1rem;
      padding-left: 1.875rem;
    }
    & .par {
      font-family: "Inter-Regular", Helvetica;
      font-size: 1.25rem;
      width: 60rem;
      height: 6rem;
    }
    & h3 {
       align-self: stretch;
       font-family: "Inter-SemiBold", Helvetica;
       font-size: 1.5rem;
    }
    & .BurjHalifa{
      border-radius: 0.75rem;
    }
    & .container {
      & .pTag {
         align-self: stretch;
         color: #00000080;
         font-family: "Inter-Regular", Helvetica;
         font-size: 1rem;
         width: 25rem;
        }
      & article {
        display: inline-block;
      }
    }
    & .button {
        position: relative;
        background-color: #fffbfb;
        text-align: center;
        cursor: pointer;
        border-radius: 1rem;
        margin-left: 45rem;
        margin-top: 9.75rem;
      }
    & .button:hover {
        background-color: #ded1d1;
      }
    & .art {
      display: block;
      & h4 {
          height: 1.5rem;
          width: 39.25rem;
          font-family: "Inter-Medium", Helvetica;
          font-size: 2rem;
          text-align: center;
          white-space: nowrap;
          margin-left: 4rem;
      }
      & .bac {
          align-items: flex-start;
          background-color: #fbf7ec;
          border-color: #0000001a;
          border-radius: 0.75rem;
          width: 21rem;
          display: inline-block;
          padding: 1.25rem;
          margin-top: 1.25rem;
          margin-right: 3rem;
        }
        &  .ok {
            align-items: center;
            display: inline-flex;
            margin-top: -0.625rem;
            }
        & h5 {
            height: 0.5rem; 
            margin-left: 1rem;
            font-family: "Inter-SemiBold", Helvetica;
            font-size: 1rem;
            margin-block-start: 0.925rem; 
          }
        &  .text {
            color: #00000080;
            font-family: "Inter-Regular", Helvetica;
            font-size: 1rem;
            width: 18.75rem;
            margin-top: 0.4rem;
          }
  }
  & section {
      white-space: wrap;
      & article {
        display: inline-block;
        padding: 1.25rem;
    }
    }
    & h4 {
        margin-top: 6.25rem;
        font-family: "Inter-Medium", Helvetica;
        font-size: 2rem;
        height: 0.625rem;
      }
    & .button1 {
          position: relative;
          background-color: #fffbfb;
          text-align: center;
          cursor: pointer;
          border-radius: 1rem;
          margin-left: 45rem;
        }
    & .button1:hover {
          background-color: #ded1d1;
        }
    & h6 {
        padding: 0px;
        height: 0.0001rem;
        width: 10rem;
        color: #000000;
        font-family: "Inter-Regular", Helvetica;
        font-size: 1rem;
      }
    &  .person{
    display: inline-block;
      &  .comment {
            align-items: flex-start;
            background-color: #0000000d;
            border: 1px solid;
            border-color: #0000001a;
            border-radius: 0.75rem;
            width: 20rem;
            display: inline-flex;
            padding: 1.25rem;
            margin-top: 1.25rem;;
            margin-right: 1.25rem;;
        }
      & .commentP {
            margin-left: 0.65rem;
            margin-top: -1px;
            font-family: "Inter-Regular", Helvetica;
            font-size: 0.85rem;
        }
      & .picture {
          height: 32px;
      }
  }
     & .formInput {
        border-radius: 0.75rem;
        padding: 0.625rem;
        font-size: 1rempx;
        border: 1px solid grey;
        float: left;
        width: 25%;
        background: #f1f1f1;
        margin-left: 12.5rem;
      }
     & .formButton {
          float: left;
          width: 8%;
          font-family: "Inter-SemiBold", Helvetica;
          border-radius: 0.75rem;
          padding: 0.625rem;
          background: #54a1e8;
          color: white;
          font-size: 1rem;
          border: 1px solid grey;
          margin-left: 0.625rem;
        }
    & .formButton:hover {
          background: #0b7dda;
        }
     & #com {
          height: 18rem;
          margin-top: 3rem;
        }
    & a {
        text-decoration: none;
      }
    & ul {
      list-style-type: none;
    }
}
footer {
  color: var(--text-color);
  padding: 1.25rem;
  text-align: left;
  margin-left: 10%;

  & .footer-columns {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;

      & .column {
          flex: 1;
          padding: 0 1.25rem;

          & .links {
              list-style: none;
              padding: 0;

              & li {
                  margin-bottom: 0.625rem;

                  & a {
                      text-decoration: none;
                      color: var(--link-color);

                  }
              }

              & .social a {
                  margin-right: 0.3125rem;
                  display: inline-block;
              }
          }
      }
  }
}

@media (max-width: 30rem) {
  .home-main {
      padding: 1.875% 0;
  }

  h1 {
      font-size: 1.5rem;
  }

  nav a {
      font-size: 1rem;
  }

  button {
      padding: 0.625rem 1.25rem;
  }

  .links .social a {
      margin-right: 0.3125rem;
  }
}