@import url("https://fonts.googleapis.com/css?family=Lemon:400|Inter:500,400,700,600");

:root {
    --primary-font: 'Inter', sans-serif;
    --primary-text-color: #333;
    --background-color: #fff;
    --text-color: #fff;
    --link-color: #000;
    --button-color: #000;
    --button-bg-color: transparent;
    --button-border: none;
    --button-border-radius: 0.3125rem;
    --button-padding: 0.625rem 1.25rem;
    --button-box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    --background-image: url("assets/destination_pics.jpg");
    --primary-border: 1px solid #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    color: var(--primary-text-color);
}

.home-main {
    position: relative;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: var(--text-color);
    text-align: center;
    padding: 3.125% 0;

    & background-image {
        width: 100%;
        height: auto;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5% 5% 0;
    box-sizing: border-box;

    & a {
        order: 2;
        text-decoration: none;
        color: var(--text-color);
    }

    & ul {
        order: 3;
        text-align: right;
        margin: 0;
        padding: 0;
        list-style: none;

        & li {
            display: inline;
            margin: 0 0.75rem;
            text-decoration: none;
            color: var(--text-color);
            font-weight: bold;
        }
    }

    & form {
        order: 1;
        display: flex;
        align-items: center;

        & i {
            margin-right: 2.5%;
        }

        & input[type="text"] {
            background-color: transparent;
            border: none;
            color: var(--text-color);
            padding: 0.625rem;
            font-size: 1.25rem;
        }
    }
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    color: var(--text-color);
}

main {
    padding: 1.25rem;
    background-color: var(--background-color);

    & form {
        display: flex;
        align-items: center;

        & i {
            margin-right: 2.5%;
        }

        & input[type="text"] {
            background-color: transparent;
            border: none;
            color: var(--primary-text-color);
            padding: 0.625rem;
            font-size: 1rem;
        }
    }

    .search-places {
        margin: 5% 25%;

        & i,
        input {
            margin: 5px;
        }
    }

    .radio-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 5% 25%;
    
        & input[type="radio"] {
            display: none;
        }
    
        & label {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: 10px;
    
            &::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border: var(--primary-border);
                border-radius: 0.3125rem;
                margin-right: 5px;
                position: relative;
            }
        }
    
        & input[type="radio"]:checked + label::before {
            background-color: var(--primary-text-color);
        }
    
        @media (max-width: 48rem) {
            flex-direction: column;
            align-items: flex-start;
            margin: 5% 10%;
        }
    }    

    .city-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 2% 20%;
    }
    
    .city-grid article {
        text-align: center;
        margin: 1rem;
    
        & a {
            text-decoration: none;
            color: var(--primary-text-color);
        }
    }
    
    @media (max-width: 48rem) {
        .city-grid {
            grid-template-columns: repeat(1, 1fr);
            margin: 2% 10%;
        }
    }
    
    .pagination {
        text-align: center;
        margin-top: 5%;

        & .pagination-button {
            background-color: var(--button-bg-color);
            color: var(--button-color);
            border: var(--button-border);
            padding: var(--button-padding);
            border-radius: var(--button-border-radius);
            cursor: pointer;
            box-shadow: var(--button-box-shadow);
        }

        & .pagination-button.active {
            background-color: var(--text-color);
            color: var(--button-color);
        }
    }

    hr {
        border: none;
        border-top: var(--primary-border);
    }
}

footer {
    color: var(--text-color);
    padding: 1.25rem;
    text-align: left;
    margin-left: 10%;

    & .footer-columns {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

        & .column {
            flex: 1;
            padding: 0 1.25rem;

            & .links {
                list-style: none;
                padding: 0;

                & li {
                    margin-bottom: 0.625rem;

                    & a {
                        text-decoration: none;
                        color: var(--link-color);
                    }
                }

                & .social a {
                    margin-right: 0.3125rem;
                    display: inline-block;
                }
            }
        }
    }
}

@media (max-width: 48rem) {
    .home-main {
        padding: 3.125% 0;
    }

    h1 {
        font-size: 1.75rem;
    }

    nav ul {
        display: none;
    }

    nav {
        flex-direction: column;
        align-items: center;

        form {
            margin-top: 0.625rem;
        }

        .fa-search {
            display: block;
        }
    }
}

@media (max-width: 30rem) {
    .home-main {
        padding: 1.875% 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    button {
        padding: 0.625rem 1.25rem;
    }

    .links .social a {
        margin-right: 0.3125rem;
    }
}
.fas{
    color: red;
}
