@import url("https://fonts.googleapis.com/css?family=Lemon:400|Inter:500,400,700,600");

:root {
  --primary-font: "Inter", sans-serif;
  --primary-text-color: #333;
  --background-color: #fff;
  --link-color: #333;
  --button-background: transparent;
  --button-border: 1px solid #333;
  --button-border-radius: 1rem;
  --button-padding: 1rem 2rem;
  --button-box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
  --background-image: url("assets/news_pics.jpg");
  --text-color: #fff;
}

.dark{
  #button {
      background-color: transparent; ;
      border-color: transparent; ;
      padding: 0.5rem;
      margin-left: 80rem;
      font-size: 1.5rem;
      color: #333;
  }   
}
.dark-mode {
  background-color:black;
  #searchNews{
    border-color: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

.home-main {
  position: relative;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--text-color);
  text-align: center;
  padding: 3.125% 0;

  & background-image {
    width: 100%;
    height: auto;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5% 5% 0;
  box-sizing: border-box;

  & a {
    order: 2;
    text-decoration: none;
    color: var(--text-color);
  }

  & ul {
    order: 3;
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;

    & li {
      display: inline;
      margin: 0 0.75rem;
      text-decoration: none;
      color: var(--text-color);
      font-weight: bold;
    }
  }

  & form {
    order: 1;
    display: flex;
    align-items: center;

    & i {
      margin-right: 2.5%;
    }

    & input[type="text"] {
      background-color: transparent;
      border: none;
      color: var(--text-color);
      padding: 0.625rem;
      font-size: 1.25rem;
    }
  }
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: var(--text-color);
}

main {
  padding: 1.25rem;

  & form {
    display: flex;
    align-items: center;

    & i {
      margin-right: 0.3125rem;
    }

    & input[type="text"] {
      background-color: transparent;
      border: none;
      color: var(--primary-text-color);
      padding: 0.3125rem;
      font-size: 1rem;
    }
  }

  .search-news {
    margin: 2% 25%;

    & i,
    input {
      margin: 0.3125rem;
    }
  }

  .filter-sort-container {
    margin: 2% 25%;

    & label,
    select {
      margin: 0.3125rem;
      border-radius: 12px;
    }
  }

  & label {
    font-weight: bold;
    margin-right: 0.625rem;
  }

  & select {
    border: var(--primary-border);
    padding: 0.3125rem;
    font-size: 1rem;
    margin-right: 1.25rem;
  }

  .news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 23%;
  }

  .news-grid article {
    flex-basis: calc(50% - 1rem); 
    margin-bottom: 1rem;
    padding: 1rem;
  }

  @media (max-width: 768px) {
    .news-grid {
      flex-direction: column;
    }

    .news-grid article {
      flex-basis: 100%;
    }
  }

  .budget-travel-grid {
    display: flex;
    justify-content: space-between;
    margin: 2% 23%;
  }

  .budget-travel-grid article {
    flex-basis: calc(33.33% - 1rem);
    margin-bottom: 1rem;
    padding: 1rem;
  }

  @media (max-width: 768px) {
    .budget-travel-grid {
      flex-direction: column;
    }

    .budget-travel-grid article {
      flex-basis: 100%;
    }
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  & h2 {
    font-size: 1.5rem;
    margin: 1.25rem 23%;
  }

  & h3 {
    font-size: 1.125rem;
    margin: 0.625rem 0;
  }

  & h4 {
    font-size: 1.25rem;
    margin: 0.625rem 0;
    text-decoration: none;
  }

  & h6 {
    font-size: 1rem;
    color: var(--primary-text-color);
    margin: 0.625rem 0;
  }

  & p {
    color: #666;
  }

  & div {
    font-size: 0.875rem;
    color: #999;
  }
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

footer {
  color: #fff;
  padding: 1.25rem;
  text-align: left;
  margin-left: 10%;

  & .footer-columns {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    & .column {
      flex: 1;
      padding: 0 1.25rem;

      & .links {
        list-style: none;
        padding: 0;

        & li {
          margin-bottom: 0.625rem;

          & a {
            text-decoration: none;
            color: var(--primary-text-color);
          }
        }

        & .social a {
          margin-right: 0.625rem;
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 48rem) {
  .home-main {
    padding: 1.875rem 0;
  }

  h1 {
    font-size: 1.75rem;
  }

  nav ul {
    display: none;
  }

  nav {
    flex-direction: column;
    align-items: center;

    form {
      margin-top: 0.3125rem;
    }

    .fa-search {
      display: block;
    }
  }
}

@media (max-width: 30rem) {
  .home-main {
    padding: 1.125rem 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 1rem;
  }

  button {
    padding: 0.5rem 1.25rem;
  }

  .links .social a {
    margin-right: 0.3125rem;
  }
}
