@import url("https://fonts.googleapis.com/css?family=Lemon:400|Inter:500,400,700,600");

:root {
  --primary-font: 'Inter', sans-serif;
  --primary-text-color: #333;
  --background-color: #fff;
  --link-color: #333;
  --button-background: transparent;
  --button-border: 1px solid #333;
  --button-border-radius: 1rem;
  --button-padding: 1rem 2rem;
  --background-image: url("assets/planning_pics.png");
  --text-color: #fff;
  --input-background-color: #f6f6f6;
  --input-border-radius: 20px;
  --input-border: 1px solid grey;
}
.dark{
    #button {
        background-color: transparent; ;
        border-color: transparent; ;
        padding: 0.5rem;
        margin-left: 35rem;
        font-size: 1.5rem;
        color: #333;
    }   
}
.dark-mode {
    background-color:black;
    .p{
        color:white;
    }
    .Sort{
        border-color: #fff;
    }
    .Bud{
        color:aliceblue;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'sans-serif';
  font-size: 18px;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

.home-main {
  position: relative;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--text-color);
  text-align: center;
  padding: 3.125% 0;

  & background-image {
      width: 100%;
      height: auto;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 5% 5% 0;
  box-sizing: border-box;

  & a {
      order: 2;
      text-decoration: none;
      color: var(--text-color);
  }

  & ul {
      order: 3;
      text-align: right;
      margin: 0;
      padding: 0;
      list-style: none;

      & li {
          display: inline;
          margin: 0 0.75rem;
          text-decoration: none;
          color: var(--text-color);
          font-weight: bold;
      }
  }

  & form {
      order: 1;
      display: flex;
      align-items: center;

      & i {
          margin-right: 2.5%;
      }

      & input[type="text"] {
          background-color: transparent;
          border: none;
          color: var(--text-color);
          padding: 0.625rem;
          font-size: 1.25rem;
      }
  }
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  color: var(--text-color);
}

main {
  padding: 1.25rem;
  margin: 2% 15%;

  & .p {
      font-family: var(--primary-font);
      color: #00000080;
      font-size: 1rem;
      font-weight: 400;
      height: 4.5rem;
      width: 43rem;
      margin-top: 0.5rem;
  }

  & h3 {
      font-family: "Inter-SemiBold", Helvetica;
      font-size: 1.25rem;
      letter-spacing: 0;
      margin-top: 2rem;
  }

  & .Sort {
      background-color: #0000000d;
      border: 1px solid;
      border-color: #0000001a;
      border-radius: 2.1rem;
      display: inline-flex;
      gap: 0.5rem;
      padding: 0.25rem 0.5rem;
      justify-content: space-between;
      margin-right: 0.625rem;
      margin-top: 0.5rem;
  }

  & div {
      display: inline;
  }

  & section {
      & .budget {
          color: #000000;
          font-family: "Inter-Medium", Helvetica;
          font-size: 1.3rem;
          font-weight: 400;
          margin-top: 0.5rem;
      }

      & .Bud {
          color: #00000080;
          margin-top: 0.5rem;
          margin-left: 1rem;
      }
  }

  & .recommendations {
      display: inline-block;
      margin-right: 0.425rem;
      margin-top: 1rem;

      & h6 {
        color: #000000;
        font-family: "Inter-Medium", Helvetica;
        font-size: 0.8rem;
        font-weight: 400;
      }
  
      & a {
          text-decoration: none;
      }
  }
  
  & .hr {
    border: none;
    border-top: 1px solid #ddd;
  }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 15%;
}

.sidebar {
    width: 25%;
    border: apx solid #eee;
    border-radius: 3px;
    padding: 15px;
    height: 92vh;
    box-shadow: 0px 0px 3px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.data {
    width: 73%;
    border-radius: 3px;
    height: 92vh;
    overflow-y: auto;
}

.fa-circle {
    color: orangered;
}

.searchbar {
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  padding: 8px;
}

.glass:hover {
    color: orangered;
    cursor: pointer;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-brands {
    font-size: 25px;
    margin: 0 10px;
    color: #333;
    cursor: pointer;
}

.fa-brands:hover {
    color: orangered;
}

.header {
    height: 200px;
    border-radius: 3px;
    background-image: linear-gradient(to bottom right, rgb(189, 47, 47), rgb(231, 186, 36));
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.box {
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
}

.img-box {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
    object-position: center;
}

.city-box {
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 0.5rem;
}

.city-details {
    display: flex;
    align-items: center;
}

.city-image {
    height: 100px;
    border-radius: 12px 0 0 12px;
}

.city-info {
    padding: 10px;
}

.city-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.city-price {
    color: #007bff;
    font-size: 1rem;
}

.bottom {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2 {
    font-size: 20px;
    color: orangered;
}

button {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #333;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: orangered;
}

::-webkit-scrollbar {
    display: none;
}

footer {
  color: var(--text-color);
  padding: 1.25rem;
  text-align: left;
  margin-left: 10%;

  & .footer-columns {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;

      & .column {
          flex: 1;
          padding: 0 1.25rem;

          & .links {
              list-style: none;
              padding: 0;

              & li {
                  margin-bottom: 0.625rem;

                  & a {
                      text-decoration: none;
                      color: var(--link-color);

                  }
              }

              & .social a {
                  margin-right: 0.3125rem;
                  display: inline-block;
              }
          }
      }
  }
}

@media (max-width: 48rem) {
    .home-main {
        padding: 3.125% 0;
    }

    h1 {
        font-size: 1.75rem;
    }

    nav ul {
        display: none;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav form {
        margin-top: 0.625rem;
    }

    .fa-search {
        display: block;
    }
}

@media (max-width: 30rem) {
    .home-main {
        padding: 1.875% 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    nav a {
        font-size: 1rem;
    }

    button {
        padding: 0.625rem 1.25rem;
    }

    .links .social a {
        margin-right: 0.3125rem;
    }
}

@media only screen and (max-width: 600px) {
  .searchbar {
      flex-direction: column;
      align-items: stretch;
  }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .sidebody {
        height: auto;
    }
    .city-title {
        font-size: 1rem;
    }

    .city-price {
        font-size: 0.8rem;
    }
}